
.jumbotron {
    margin-top: 40px;
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    opacity: 0.8;
    

}

body {
    background-image: url("train.jpg");
    font-family: 'Chonburi', cursive;
}

.panel {
    margin-top: 60px;
    opacity: 0.8;
}

.panel-heading {
    
    font-weight: 500;
}

.panel-title {
    opacity: 0.9;
}